html, body {
    position: relative;
    height: 100%;
}
body::-webkit-scrollbar{
    display: none;
    overflow: scroll;
}
body{
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://open.saintic.com/api/bingPic?picsize=2);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.swiper-container {
    height: 100%;
}
.swiper-container::-webkit-scrollbar{
    display: none;
}
.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}
.scroll-warp{
    overflow-y: scroll;
}
.side-box{
    position: relative;
    margin-top: 30px;
    min-width: 60px;
    height: 60px;
    border-radius: 35px;
    float: right;
    clear: both;
    line-height: 60px;
    cursor: pointer;
}
.blog{
    background: white url(../img/blogging.png) no-repeat 14px 14px ;
}
/*底部网站导航*/
.box-container{
    width: 120px;
    height: 90px;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
    background: #FFFFFF;
    float: left;
    box-shadow: 0 2px 4px rgba(0,0,0,0.13), 0 0 3px rgba(0,0,0,0.11);
    margin: 0 10px;
    cursor: pointer;
}
.box{
    padding: 10%;
}
.box-slogan{
    margin: 5px;
}
.box-title{
    white-space:nowrap;/*规定段落中的文本不换行*/
    word-break:break-all;/*规定文本溢出时的动作*/
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;/*针对Opera浏览器*/
    overflow: hidden;
}
.web-box-holder{
    width: 100%;
    float: left;
    position: absolute;
    bottom: 10px;
}
.web-box{
    position: relative;
    float: left;
    bottom: 5px;
    width: 80%;
    left: 10%;
    text-align: center;
    vertical-align: middle;
}
.translate{
    background: url("../img/translate.png") white no-repeat 6px 8px;
}
/*提示文本*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* 定位 */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.side-box-holder{
    width: 100%;
    float: right;
    position: absolute;
    right: 10px;
    top:10px;
}
.clearfix{
    display: inline-block;
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
}
.div-holder{
    background-color: #007aff;
}
.place-45{
    min-height: 130px;
}
.article{
    top: 30%;
    position: relative;
    left:10%;
    width:80%;
    background: white;
    box-shadow:0 2px 4px rgba(0,0,0,0.13), 0 0 3px rgba(0,0,0,0.11) ;
}
.yiyan {
    width: 80%;
    position: absolute;
    top:5px;
}
.yiyan .contents{
    padding: 10px;
}
.read-light{
    background:url("../img/read.png") repeat;
}
.read-black{
    background-color: black;
}
.eye-care{
   line-height: normal;
}
.music{
    width: 80%;
    position: absolute !important;
    bottom: 0;
    left: 5px!important;
}
.mw{
    height: 100%;
    background-color:  #EAEAEF;
}
.mw-holder{
    width: 80%;
    height: 70%;
}
.mw-content{
    padding: 20px;
    line-height: 1.8em;
    text-indent: 2em;
}
.mw-title{
    text-align: center;
}
.mw-author{
    text-align: center;
    font-style: normal;
}
.mw-info{
    width: 50%;
    margin-bottom: 0;
}
.icon {
    width: 2.5em; height: 2.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.mw-tools{
    position: absolute;
    float: right;
    right: 5px;
}
.more-info{
    position: absolute;
    bottom: 0;
    font-family: "YaHei Consolas Hybrid", serif;
    font-style: italic;
    font-size: 0.8em;
    color: #8f8d89;
}
.mw-logo{
    font-family: "KaiTi", cursive, sans-serif;
    font-style: italic;
    position: absolute;
    font-size: 5em;
    color: #EBECED;
    float: left;
    left: 2%;
    top: 2%;
}
.zx-container{
    width: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
}
.zx{
    text-align: center;
}
.zx-holder{
    width: 100%;
    text-align: center;
    display: inline-block;
}
.zhihu-box {
    width: 30%;
    margin: 0 1%;
    text-align: left;
    white-space:normal;
    word-break:break-all;
    overflow:hidden;
    float: left;
    position: relative;
}
.zx-box-holder{
    width: 100%;
    display: inline-block;
}
.zhihu-box-container{
    width:72%;
    padding: 0 0% 0 0%;
}
.zhihu-logo{
    overflow: hidden;
    width: 220px;
    background: transparent url(https://daily.zhihu.com/img/new_home_v3/top_logo.png) no-repeat 0 13px;
}
.zhihu-slogan{
    background: url("https://daily.zhihu.com/img/new_home_v3/slogan.png");
}
.zx-div{
    padding: 2%;
}
.zx-box{
    background: white;
    width: 100%;
    margin: 0 15%;
}
.wb{
   background: white;
    width: 100%;
    text-align: center;
}
.wb a{
    color: black;
    background: none;
}
.wb a:hover{
    color: #0071de;
}