body{
    background-image:url(../imgs/body_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
.display-div{

}
.list-div{
    width: 30%;
    float: left;
}
.book-row:after{
    display: table;
    clear: both;
}
.book_tb{
    /*border: #008542 solid 1px;*/
    text-align: center;
    width: 100%;
    /*border-collapse: collapse;*/
    margin: 20px 0;
    box-shadow: 1px 1px 5px 1px #00000085;
    background-image: url("../imgs/bg_wool_white.png");
    border-radius: 16px;
}
.book-title{
    font-size: 1.5em;
}
.type-list li{
    cursor: pointer;
    margin: 10px 0;
    width:auto;
}
#th-name #th-press{
    width: 34%;
}
#th-action{
    width:20%;
}
#th-author #th-price{
    width:6%;
}
.book-price{
    font-size: 1.3em;
    text-align: right;
    color: #008542;
    /*width:60%;*/
}
.book-detail-info{
    float: left;
    overflow: hidden;
    margin-left: 100px;
}
.book-detail-info .book-price{
    font-size: 3.2em;
    float: right;
}
.book-detail-img{
    padding-left:50px;
    float: left;
}
.book-display{
    float: left;
    width: 70%;
}
.pag{
    text-align: center;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li  {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    cursor: pointer;
}

ul.pagination li.active {
    background-color: #4CAF50;
    color: white;
}
ul.pagination li:hover:not(.active) {background-color: #ddd;}