
#login{
    background-image: url("../imgs/bg_global.jpg");
}




@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
.an{

    -webkit-transform: rotate(360deg);

    animation: rotation 3s linear infinite;

    -moz-animation: rotation 3s linear infinite;

    -webkit-animation: rotation 3s linear infinite;

    -o-animation: rotation 3s linear infinite;

}

.register_box{
    display: flex;
    flex-direction: column;        /*元素的排列方向为垂直*/
    justify-content: center;    /*水平居中对齐*/
    align-items: center;        /*垂直居中对齐*/
    position: absolute;
    left: 120px;
    top: 10%;
    width: 480px;
    background-color: white;
    background-color: rgba(226,225,228,0.9);
    vertical-align: middle;
    border-radius: 12px;
}
.button {
    display: inline-block;
    border-radius: 25px;
    background-color: #008542;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    width: 360px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.slogan{
    /*background-color: #836FFF;
    background-image: linear-gradient(168deg,#a8ff78 27%,#78ffd6 100%);*/
    font-family: "YaHei Consolas Hybrid", serif;
    font-size: 2em;
    padding:30px 30px;
    color: #FFFFFF;
    text-align: center;
}
.music-player{
    width:80%;
  /* margin: -45px 146px 30px 146px ;*/
    vertical-align: middle;
    align-content: center;
}
.sub-contain-block{
    margin:8px 120px 8px 120px;
    padding: 20px 0 8px 0;
    display: block;
}
.code-container{
    margin: 30px 0 0px 0;
    background-image: url("../imgs/bg_wool_white.png");
    box-shadow: 1px 1px 5px 1px #00000085;
    border-radius: 20px;
}

.sub-title{
    text-align: left;
    background-image: url("../imgs/title_bg.png") ;
    background-repeat: no-repeat;

}
.border_left {
    float: left;
    width: 1130px;
    background: #fbf2dc url("../imgs/bg_border_left.png") left top repeat-y;
    background-size: 84px 100px;
}
.border_right {
    float: left;
    width: 1130px;
    background: url("../imgs/bg_border_right.png") right top repeat-y;
    background-size: 84px 100px;
}
.border-top{
    float: left;
    width: 1130px;
    height: 59px;
    background: url(../imgs/bg_border_top.png) center center no-repeat;
    background-size: 1130px 59px;
    margin-bottom: -1px;
    border-radius: 35px 35px 0 0;
}
.border-foot{
    float: left;
    width: 1130px;
    height: 59px;
    background: url(../imgs/bg_border_foot.png) center center no-repeat;
    background-size: 1130px 59px;
}
.contain-block{
    margin: auto;
    overflow: hidden;
}
#main-html{
    width:1130px;
}
#person-html{
    width:940px;
}
#login-html{
        margin-top: 8%;
}
.daily-article{
    margin: 100px 100px;
    padding: 0 50px;
}