.search_bar{
    box-shadow: rgba(0, 0, 0, .1);;
    width: 0%;
    min-width: 60px;
    height: 60px;
    float: right;
    position: absolute;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    background:white;
    border-radius: 35px;
    display: block;
    vertical-align: middle;
}
.input{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    width: 92%;
    height: 60px;
    line-height:60px;
    font-size: 20px;
    color: black;
    background:transparent;
}
.search_ico,.search_btn ,.close {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    cursor: pointer;
}
.search_btn{
    outline: none;
    display: none;
}
.search_ico{
    background: url(../img/search.png) no-repeat 15px 14px;
}
.search_open{
    position: absolute;
    right: 25%;
    width: 50%;
    z-index:1002;
}
.close{
    background:url("../img/close.png") no-repeat 15px 14px;
    left: 0;
    z-index:-1;
}
#show{position:absolute; padding:20px}
.search-logo{
    width: 80%;
    background: url("https://www.baidu.com/img/bd_logo1.png");
}